      #map-canvas {
        height: 20em;
        width: 100%;
      }
      #listing {
        
        width: 100%;
        height: 20em;
        overflow: auto;
        left: 442px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;
        display: none;
      }
      #info-content
      {
		background-color:#fff;
		color:#000;
      }
      #farmaciasballoon
      {
      -moz-box-shadow: 3px 3px 5px 0px #9c9c9c;
-webkit-box-shadow: 3px 3px 5px 0px #9c9c9c;
box-shadow: 3px 3px 5px 0px #9c9c9c;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
background-color: #ffffff;
color:#000;
margin: 2em;
font-size: .5em;
      }
      #findhotels {
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
        z-index: 5;
        background-color: #fff;
      }
      #controls {
        z-index: 5;
        background-color: #fff;
      }
      #autocomplete {
        width: 97%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 100%;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }