/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    background:url(../img/background.png) no-repeat center top; /* 170px x 200px */
    background-size: 140%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

#seleccione_pais_div, #terminos_y_condiciones_div, #crear_cuenta_div, 
#control_de_toma_div, #catalogo_div, #facturas_div, #farmacias_div, #moodchart_div, #index_div,
 #logos_div, #calendar_div
{
    display: none;
}

#app_footer
{
    position: absolute;
    top:20em;
    left:2em;
}

#seleccione_pais_div, #terminos_y_condiciones_div, #crear_cuenta_div, 
#control_de_toma_div, #catalogo_div, #facturas_div, #farmacias_div, #moodchart_div, #index_div, #calendar_div
{
    margin-top: 10%;
}
/* Portrait layout (default) */
.app {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    text-align:center;
}

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
 /*       margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    /*}
}
*/
.app a{
    text-decoration: none;
    color:#fff;
}

h1{
    margin:0 auto 0 auto;
    color:#ee498d;
    text-transform: uppercase;
    font-size: 1.5em;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/**other titles and content**/
.div_title_radius_top{
    -moz-box-shadow: 3px 3px 5px 0px #9c9c9c;
    -webkit-box-shadow: 3px 3px 5px 0px #9c9c9c;
    box-shadow: 3px 3px 5px 0px #9c9c9c;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    background-color:#fcdbe4;
    margin:0 auto 0 auto;
    color:#ee498d;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:20px;
    font-weight: bold; 
    padding:1% 2%;
    display:inline-block;
    z-index: 1;
}

.div_content{
    -moz-box-shadow: 3px 3px 5px 0px #9c9c9c;
    -webkit-box-shadow: 3px 3px 5px 0px #9c9c9c;
    box-shadow: 3px 3px 5px 0px #9c9c9c;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color:#ffffff;
    margin:0 auto 0 auto;
    display:block;
    position: relative;
    z-index: 10;
    margin-bottom: 1em;
}

#crear_cuenta_content_form, #menu_div{
    background-color:#ffffff;
    margin:0 auto 0 auto;
    position: relative;
    width: 96%;
    z-index: 10;
}

#terminosycondiciones_border_div{
    height: 300px;
    padding: 0em 1em;
    margin: 0em 2em;
}

#seleccione_pais_border_div{
    width: 86%;
}

#terminosycondiciones_content_div, #seleccione_pais_content_div{
    width: 95%;
    height: 92%;
    margin:0 auto 0 auto;
    padding:5px 5px;
}
#terminosycondiciones_content_div{
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

#logos_div{
    width: 80px;
    margin:0 auto 0 auto;
    bottom: 0;
}

.app #index_div #menu_div
{
    background-color: #fff;
    min-height: 200px;
}

#menu_top{
position: relative;
top: 0em;
left: 2%;
width:100%;
}

#menu_bottom{
position: relative;
top: 1em;
left: 25%;
width:50%;
}

img.carita
{
	width: 93px;
	height: 36px;
}

a img.menu_image
{
    width: 62px;
    height: 62px;
}

h4
{
    font-size: .5em;
    width: 100%;
    color:#000;
}
.pink
{
color:#ef5091;
}
#botones_div
{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
#botones_div a
{
    font-size: .62em;
    width: 28%;
    text-align: center;
}

.button_color_pink .izq{
   float:left;
}

.button_color_pink .der{
    float:right;
}

.button_color_pink .cent{
   text-align:center;
}
/***/

/***Style for the buttons**/
.button_default {
    -moz-box-shadow: 3px 3px 5px 0px #9c9c9c;
    -webkit-box-shadow: 3px 3px 5px 0px #9c9c9c;
    box-shadow: 3px 3px 5px 0px #9c9c9c;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:4px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding: 10px 20px;
    text-decoration:none;
}

.button_default:hover {
    background-color:#fcdbe4;
}

.button_default:active {
    position:relative;
    top:1px;
}

.button_color_gray{    
    background-color:#6d6e70;
}

.button_color_pink{    
    background-color:#ef5091;
}

#buttons_terminosycondiciones{
    margin: 10%;
}

#submit_declinar_terminos{
    float: right;
}

#submit_aceptar_terminos{
    float: left;
}

#Bella_Click_logo, #Bella_Click_logo{
    width: 100%;
    cursor: pointer;
}

.cbp-mc-submit{
    float: left;
    padding: 5px 5px;
}
.menu_items_div{
    /*position: relative;;
    width: 100%;
    height:100px;
    display: block;*/
}

/***/


.padding5{
    padding: 5% 0%;
    text-align:center;
}

img.flag{
    width: 32px;
    height: 32px;
}

.datos, .crearCuentaTxtField{
    display:inline-block;
}
.crearCuentaTxtField{
}
.crearCuentaTxtField img, .crearcuente_ico 
{
    vertical-align: bottom;
}

h3{
    display:inline-block; 
    border-bottom-style:solid;
    border-color:#f05b98;
    border-width: medium;   
}

input[type=text], input[type=email], input[type=password]{
    display:inline-block;   
    border-style: none;
    height: 100%;
    width: 75%;
    height: 52px;
    border-bottom-style:solid;
    border-color:#f05b98;
    border-width: medium;
}