div.terms {
width: 96%;
height: 200px;
border: 1px solid #ccc;
background: #f2f2f2;
padding: 6px;
overflow: auto;
}
div.terms h3 {
font: bold 14px/19px arial;
color: #000;
}
div.terms h4 {
font: bold 12px/17px arial;
color: #000;
}
div.terms p, div.terms li {
font: normal 11px/15px arial;
color: #333;
}
div.terms p, div.terms li {
font: normal 11px/15px arial;
color: #333;
}